<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Entdecke Collapp</h2>
                <p>Unsere App ist als alpha für Android Geräte verfügbar <br> Werde heute Teil der Gemeinschaft!</p>
                <div class="badges">
                    <a class="badge-link" href="https://play.google.com/store/apps/details?id=efficient.every.day.collapp"><img onClick="fbq('track', 'Lead');" src="{{ site.baseurl }}/img/google-play-badge.svg" alt=""></a>
                    <!-- <a class="badge-link" href="#"><img src="{{ site.baseurl }}/img/app-store-badge.svg" alt=""></a> -->
                </div>
            </div>
        </div>
    </div>
</section>
