<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Community maßgeschneidert! Werde noch heute Mitglied!<br/></h1>
                        <a href="https://play.google.com/store/apps/details?id=collapp.collapp" onClick="fbq('track', 'Lead');" class="btn btn-outline btn-xl page-scroll">Jetzt kostenlos starten!</a>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait black">
                        <div class="device">
                            <div class="screen">
                                <img src="{{ site.baseurl }}/img/header-image.png" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</header>
