<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Source of Free Bootstrap Themes</h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            <a href="https://play.google.com/store/apps/details?id=efficient.every.day.collapp&hl=de" class="btn btn-primary btn-xl page-scroll">Download!</a>

        </div>
    </div>
</header>
